Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/(src|tests)/.*'
FormatStyle: file
